@model CurrentSprintViewModel
<div class="row">
	<div class="col-md-12">
		<section>
			<h4>View current sprint</h4>
			<hr />
			<div class="form-group">
				<label asp-for="Team" class="control-label"></label>
				<select id="selectTeamForCurrentSprint" class="form-control" style="width:30%"  asp-for="Team" asp-items="ViewBag.Teams"></select>
			</div>

			<div class="form-group">
				<label asp-for="SprintDates"></label>
				<select id="selectSprintDate" class="form-control" style="width:30%" asp-for="SprintDates" asp-items="ViewBag.Sprints"></select>
			</div>

			<div class="form-group">
				<div class="col-md-6">
					<a id="viewCurrentReport" class="btn btn-default">View Report</a>
				</div>
			</div>

			<div class="col-md-12" id="currentSprintReport">
			</div>
		</section>
	</div>
</div>