
<h2>Welcome Admin</h2>

<div class="form-group">
	<a asp-action="Register" asp-controller="Account" class="btn btn-default">Add new user</a> | <a asp-action="Index" asp-controller="Teams" class="btn btn-default">Add Team</a> | <a asp-action="AddUserToTeam" asp-controller="Teams" class="btn btn-default">Add user to team</a>
</div>


