@using Microsoft.AspNetCore.Mvc.Rendering
@model ScrumMasterViewModel
<div class="row">
	<div class="col-md-8">
		<section>
			<form asp-controller="" asp-action="" asp-route-returnurl="" method="post" class="form-horizontal">
				<h4>Scrum Master Page</h4>
				<hr />
				<div class="form-group">
					<label asp-for="Team" class=" col-md-1 control-label"></label>
					<div class="col-md-6">
						<select id="selectTeam" class="form-control" asp-for="Team" asp-items="ViewBag.Teams"></select>
					</div>
				</div>
				<div class="col-md-12" id="teamTable">
				</div>
				<div class="form-group">
					<a asp-action="" class="btn btn-default">View previous sprint </a> | <a asp-action="" class="btn btn-default">View current sprint</a> | <a asp-action="" class="btn btn-default">Create new sprint</a>
				</div>
			</form>
		</section>
	</div>
</div>